<!-- templates/static/home.html -->
{% extends "myapp/frontbase_general.html" %}

{% load static %} <!-- Add this line -->

{% block content %}
<div class="relative overflow-hidden">

    <nav class="bg-transparent py-4">
        <div class="container max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
          <div class="flex items-center justify-between h-16">
            <!-- Logo -->
            <div class="flex-shrink-0">
                <a href="{% url 'home' %}">
                    <img src="{% static 'images/homepage/logo.svg' %}" alt="Easy Menus" class="h-full w-auto drop-shadow-lg">
                </a>
            </div>
      
            <!-- Menu for larger screens -->
            <div class="hidden md:flex space-x-6">
              <a href="{% url 'home' %}" class="text-gray-600 hover:text-gray-900 px-1 py-2 rounded-md text-lg font-medium drop-shadow-lg">Home</a>
              <a href="{% url 'features' %}" class="text-gray-600 hover:text-gray-900 px-1 py-2 rounded-md text-lg font-medium drop-shadow-lg">Features</a>
              <a href="{% url 'pricing' %}" class="text-gray-600 hover:text-gray-900 px-1 py-2 rounded-md text-lg font-medium drop-shadow-lg">Pricing</a>
              <a href="{% url 'about' %}" class="text-gray-600 hover:text-gray-900 px-1 py-2 rounded-md text-lg font-medium drop-shadow-lg">FAQ</a>
              <div class="flex space-x-4 px-1 py-2 rounded-md text-lg font-medium"> | </div>
              <a href="{% url 'login' %}" class="text-gray-600 hover:text-gray-900 px-1 py-2 rounded-md text-lg font-medium drop-shadow-lg">Log in</a>
              <a href="{% url 'signup' %}" class="rounded-[40px] bg-[#F6522C] text-white px-6 py-2 hover:text-gray-900 px-1 py-2 text-lg font-medium drop-shadow-lg">Sign Up</a>
            </div>
      
            <!-- Hamburger Menu for smaller screens -->
            <div class="md:hidden">
              <button id="menu-btn" class="text-gray-600 hover:text-gray-900 focus:outline-none">
                <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path>
                </svg>
              </button>
            </div>
          </div>
        </div>
      
        <!-- Mobile Menu -->
        <div id="mobile-menu" class="md:hidden hidden">
          <div class="px-2 pt-2 pb-3 space-y-1 sm:px-3">
            <a href="{% url 'home' %}" class="block text-gray-600 hover:text-gray-900 px-3 py-2 rounded-md text-lg font-medium drop-shadow-lg">Home</a>
            <a href="{% url 'features' %}" class="block text-gray-600 hover:text-gray-900 px-3 py-2 rounded-md text-lg font-medium drop-shadow-lg">Features</a>
            <a href="{% url 'pricing' %}" class="block text-gray-600 hover:text-gray-900 px-3 py-2 rounded-md text-lg font-medium drop-shadow-lg">Pricing</a>
            <a href="{% url 'about' %}" class="block text-gray-600 hover:text-gray-900 px-3 py-2 rounded-md text-lg font-medium drop-shadow-lg">FAQ</a>
            <a href="{% url 'login' %}" class="block text-gray-600 hover:text-gray-900 px-3 py-2 rounded-md text-lg font-medium drop-shadow-lg">Log in</a>
            <a href="{% url 'signup' %}" class="block text-gray-600 hover:text-gray-900 px-3 py-2 rounded-md text-lg font-medium drop-shadow-lg">Sign Up</a>
          </div>
        </div>
    </nav>

    <!-- Hero Section -->
    <div class="container max-w-7xl mx-auto mt-[85px] px-4 sm:px-6 lg:px-8">
        <div class="grid grid-cols-1 md:grid-cols-2 gap-6 items-center">
          <!-- Left Div -->
          <div class="text-center md:text-start mx-3">
            <button class="bg-gray-100 text-gray-400 px-6 py-2 rounded-full hover:bg-gray-200 transition duration-300 mt-7 mb-3 font-bold">
              Say Goodbye to Outdated Menus
            </button>
            <h2 class="text-5xl md:text-6xl lg:text-7xl font-bold text-black-900 my-4" style="line-height: 80px;">
                Digitize Menus in Minutes with Easy Menu
            </h2>
            <p class="text-lg leading-relaxed my-5">Effortlessly create, edit, and share stunning digital menus that <br class="md:d-none" />boost your visibility, wow your customers, and grow your <br class="md:d-none" />restaurant-all with the power of AI</p>
            <!-- Flex Container for Buttons -->
            <div class="flex flex-col sm:flex-row sm:space-x-4 mt-6 mb-6">
                <!-- First Button (60% width) -->
                <button class="bg-[#F6522C] text-white px-8 py-3 rounded-lg transition duration-300 w-[100%] sm:w-[55%] mb-4 sm:mb-0 font-bold h-[70px]">
                  TRY EASY MENUS FOR FREE
                </button>
              
                <!-- Second Button (40% width) -->
                <button class="bg-white border text-gray-900 px-6 py-3 rounded-lg hover:bg-gray-200 transition duration-300 w-[100%] sm:w-[45%] font-bold h-[70px]">
                  SEE HOW IT WORKS
                </button>
            </div>
              
          </div>
      
          <!-- Right Div -->
          <div class="text-center h-full">
            <img
              src="{% static 'images/homepage/dinner-menu.png' %}"
              alt="Sample Image"
              class="h-full w-auto mx-auto object-contain drop-shadow-lg drop-shadow-[8px_8px_24px_0px_rgba(0,0,0,0.5)]"
            />
          </div>
        </div>
    </div>

    <!-- Restaurant Achieve Section -->
    <div class="container max-w-7xl mx-auto mt-[85px] px-4 sm:px-6 lg:px-8">
        <div class="text-center mx-3">
            <button class="bg-gray-100 text-gray-400 px-6 py-2 rounded-full hover:bg-gray-200 transition duration-300 mt-7 mb-3 font-bold">
              Data-Driven Success
            </button>
        </div>
        <div class="text-center mx-3">
            <h2 class="text-5xl font-bold text-black-900 my-4">
              Easy Menu Has Helped<br />Restaurants Achieve
            </h2>
        </div>
        <div class="text-center mx-3 flex flex-col md:flex-row justify-between gap-10 my-20">
            <!-- First Div -->
            <div class="bg-white p-4 rounded-[60px] shadow w-full md:w-1/3">
              <h3 class="text-[120px] text-[#0E3339]">90<span class="text-4xl inline-block mt-4 align-text-top">%</span></h3>
              <label class="block font-bold mb-20">QUICK UPDATES</label>
              <label class="block">Quick menu updates<br />made simple</label>
            </div>
            
            <!-- Second Div -->
            <div class="bg-white p-4 rounded-[60px] shadow w-full md:w-1/3">
              <h3 class="text-[120px] text-[#0E3339]">60<span class="text-4xl inline-block mt-4 align-text-top">%</span></h3>
              <label class="block font-bold mb-20">CUSTOMER INVOLVEMENT</label>
              <label class="block">Increase in customer<br />engagement online</label>
            </div>
             
            <!-- Third Div -->
            <div class="bg-white p-4 rounded-[60px] shadow w-full md:w-1/3">
              <h3 class="text-[120px] text-[#0E3339]">40<span class="text-4xl inline-block mt-4 align-text-top">%</span></h3>
              <label class="block font-bold mb-20">BETTER ENGAGEMENT</label>
              <label class="block">More reservations through<br />better visibility</label>
            </div>
        </div>
        <div class="text-center mx-3">
            <p class="text-lg leading-relaxed my-5">
              Easy Menu helps restaurant streamline menu updates, boost<br />customer engagement, and increase reservations with improved SEO.
            </p>
            <div class="flex flex-col sm:flex-row sm:space-x-4 mt-6 mb-6 justify-center items-center">
                <!-- First Button (60% width) -->
                <button class="bg-[#3366CC] text-white px-8 py-3 rounded-lg transition duration-300 w-[100%] sm:w-[60%] max-w-[300px] mb-4 sm:mb-0 font-bold h-[70px]">
                  TRY EASY MENUS FOR FREE
                </button>
              
                <!-- Second Button (40% width) -->
                <button class="bg-white border text-gray-900 px-6 py-3 rounded-lg hover:bg-gray-200 transition duration-300 w-[100%] sm:w-[40%] max-w-[300px] font-bold h-[70px]">
                  SEE PLANS & PRICING
                </button>
            </div>              
        </div>
    </div>

    <!-- Restaurant Achieve Section -->
    <div class="container max-w-7xl mx-auto mt-[85px] px-4 sm:px-6 lg:px-8">
        <div class="flex flex-col md:flex-row gap-1 items-center">
            <!-- First Column -->
            <div class="bg-white p-2 w-full md:w-4/12 flex flex-col items-center sm:items-start justify-center text-start">
              <button class="bg-gray-100 text-gray-400 px-6 py-2 rounded-full hover:bg-gray-200 transition duration-300 mt-7 mb-3 font-bold">
                AI-POWERED
              </button>
              <h2 class="text-[42px] font-bold text-black-900 my-2">
                Menus Made Easy<br />Website included.
              </h2>
              <p class="text-[20px] leading-tight my-2">Create and manage menus easily with a mobile-friendly website and AI-powered smart suggestions</p>
              <button class="bg-[#F6522C] text-white px-8 py-3 rounded-lg transition duration-300 w-[100%] sm:w-[60%] max-w-[300px] my-8 sm:mb-0 font-bold h-[70px]">
                VIEW DEMO MENU
              </button>
            </div>
          
            <!-- Second Column (Larger Center Column) -->
            <div class="bg-white p-2 w-full md:w-1/2 flex justify-center items-center">
              <img src="{% static 'images/homepage/mobile.png' %}" alt="Easy Menus" class="h-full w-auto drop-shadow-lg">
            </div>
          
            <!-- Third Column -->
            <div class="bg-white p-0 w-full md:w-1/4 flex flex-col items-center sm:items-start justify-center text-start">
              <div class="flex items-start gap-0 my-2">
                <!-- Image -->
                <img src="{% static 'images/homepage/effortless.png' %}" alt="Effortless" />
          
                <!-- Text Content -->
                <div class="inline-block mt-4 ps-3">
                  <label class="font-bold text-gray-900 text-lg">Effortless<br /> Menu Builder</label>
                  <p class="text-gray-600 text-sm">Add and edit menu items, categories, and images in minutes</p>
                </div>
              </div>
              <div class="flex items-start gap-0 my-2">
                <!-- Image -->
                <img src="{% static 'images/homepage/mobile-optimized.png' %}" alt="Mobile Optimized" />
          
                <!-- Text Content -->
                <div class="inline-block mt-4 ps-3">
                  <label class="font-bold text-gray-900 text-lg">Mobile-Optimized<br /> Websites</label>
                  <p class="text-gray-600 text-sm">Your menu automatically becomes a mobile-friendly website</p>
                </div>
              </div>
              <div class="flex items-start gap-0 my-2">
                <!-- Image -->
                <img src="{% static 'images/homepage/ai-powered.png' %}" alt="AI Powered" class="h-auto w-auto">
          
                <!-- Text Content -->
                <div class="inline-block mt-4 ps-3">
                  <label class="font-bold text-gray-900 text-lg">AI-Powered Simplicity</label>
                  <p class="text-gray-600 text-sm">Save time with smart suggestions for descriptions and layouts</p>
                </div>
              </div>
            </div>
        </div>
    </div>

    <!-- Restaurant Choose Easy Menu Section -->
    <div class="container max-w-7xl mx-auto mt-[85px] px-4 sm:px-6 lg:px-8">
        <div class="text-center mx-3">
            <button class="bg-gray-100 text-gray-400 px-6 py-2 rounded-full hover:bg-gray-200 transition duration-300 mt-7 mb-3 font-bold">
              Features That Set Us Apart
            </button>
        </div>

        <div class="text-center mx-3">
            <h2 class="text-5xl font-bold text-black-900 my-4 leading-tight">
              Why Thousands of Restaurants<br />Choose Easy Menu
            </h2>
        </div>

        <div class="text-center mx-3 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-10 my-20">
            <!-- First Div -->
            <div class="bg-white p-20 rounded-[60px] shadow flex flex-col justify-center items-center">
                <img src="{% static 'images/homepage/menu-scanning.png' %}" alt="Menu Scanning" />
                <span class="block font-bold text-[24px] text-[#0E3339] my-2">AI Menu Scanning</span>
                <p>Snap a photo of your menu, and we'll digitize it instantly.</p>
            </div>
        
            <!-- Second Div -->
            <div class="bg-white p-20 rounded-[60px] shadow flex flex-col justify-center items-center">
                <img src="{% static 'images/homepage/custom-domain.png' %}" alt="Custom Domain" />
                <span class="block font-bold text-[24px] text-[#0E3339] my-2">Custom Domains</span>
                <p>Link your menu to your restaurant's brand with ease.</p>
            </div>
        
            <!-- Third Div -->
            <div class="bg-white p-20 rounded-[60px] shadow flex flex-col justify-center items-center">
                <img src="{% static 'images/homepage/seo-optimization.png' %}" alt="SEO Optimization" />
                <span class="block font-bold text-[24px] text-[#0E3339] my-2">SEO Optimization</span>
                <p>Get your menu found on Google and attract more diners.</p>
            </div>
        
            <!-- Fourth Div -->
            <div class="bg-white p-20 rounded-[60px] shadow flex flex-col justify-center items-center">
                <img src="{% static 'images/homepage/mobile-first.png' %}" alt="Mobile First" />
                <span class="block font-bold text-[24px] text-[#0E3339] my-2">Mobile First</span>
                <p>Look effortlessly stunning on any device, anytime and anywhere.</p>
            </div>
        
            <!-- Fifth Div -->
            <div class="bg-white p-20 rounded-[60px] shadow flex flex-col justify-center items-center">
                <img src="{% static 'images/homepage/team-access.png' %}" alt="Team Access" />
                <span class="block font-bold text-[24px] text-[#0E3339] my-2">Team Access</span>
                <p>Securely store your menus and collaborate with your team.</p>
            </div>
        
            <!-- Sixth Div -->
            <div class="bg-white p-20 rounded-[60px] shadow flex flex-col justify-center items-center">
                <img src="{% static 'images/homepage/google-analitics.png' %}" alt="Google Analytics" />
                <span class="block font-bold text-[24px] text-[#0E3339] my-2">Google Analytics</span>
                <p>Gain valuable insights to accelerate your restaurant's growth.</p>
            </div>
        </div>
        
        <div class="text-center mx-3">
            <button class="bg-[#3366CC] text-white px-8 py-3 rounded-lg transition duration-300 mb-4 sm:mb-0 font-bold h-[70px]">
              EXPLORE ALL FEATURES
            </button>
        </div>
        
    </div>

    <!-- Transforming Menu Section -->
    <div class="container max-w-7xl mx-auto mt-[85px] px-4 sm:px-6 lg:px-8 relative overflow-hidden">
        <div class="text-center mx-3">
            <button class="bg-gray-100 text-gray-400 px-6 py-2 rounded-full hover:bg-gray-200 transition duration-300 mt-7 mb-3 font-bold">
              3 Easy Steps
            </button>
        </div>

        <div class="text-center mx-3">
            <h2 class="text-5xl font-bold text-black-900 my-4 leading-tight">
              Transforming Your Menu<br />Is as Easy as 1-2-3
            </h2>
        </div>

        <div class="flex flex-col md:flex-row gap-1 items-center my-20 px-20">
            <!-- First Column -->
            <div class="bg-white p-0 w-full md:w-1/2 flex flex-col items-center sm:items-start justify-center text-start">
              <span class="bg-gradient-to-r from-[#FEEEEA] to-[#FFFFFF] text-[#F6522C] px-6 py-2 rounded-md mt-7 mb-3 font-bold">
                Step-1
              </span>
              <h2 class="text-[42px] font-bold text-black-900 my-2">
                Scan or Upload<br />Your Menu
              </h2>
              <div class="bg-[#F6522C] px-8 py-[2px] rounded-lg my-8 font-bold h-0"></div>
              <p class="text-[20px] leading-tight my-2">Take your photo of your menu or upload a file, and let our AI extract the details. Easy menus AI will extract your brand style and voice to create the perfect menu</p>
              <button class="bg-white hover:bg-gray-200 border text-gray-400 px-7 py-3 rounded-lg transition duration-300 my-8 sm:mb-0 font-bold h-[50px]">
                Get Started
              </button>
            </div>
          
            <!-- Second Column (Larger Center Column) -->
            <div class="bg-white p-2 w-full md:w-1/2 flex justify-center items-center">
              <img src="{% static 'images/homepage/transforming.png' %}" alt="Easy Menus" class="h-full w-full drop-shadow-lg">
            </div>
        </div>

        <img src="{% static 'images/homepage/dots.png' %}" alt="Easy Menus" class="opacity-10 w-[133px] absolute top-0 left-0 transform translate-x-1/2 translate-y-1/2">
        
    </div>

    <!-- Customize design Section -->
    <div class="container max-w-7xl mx-auto mt-[85px] px-4 sm:px-6 lg:px-8">

        <div class="flex flex-col md:flex-row gap-1 items-center my-20 p-20 bg-[url('{% static 'images/homepage/bg-formulation.png' %}')] bg-cover bg-center bg-no-repeat h-full">
          
            <!-- Second Column (Larger Center Column) -->
            <div class="bg-transparent p-4 w-full md:w-1/2 flex justify-center items-center mt-14">
                <img src="{% static 'images/homepage/enhance.png' %}" alt="Easy Menus" class="h-full w-full drop-shadow-lg">
            </div>
                    
            <!-- First Column -->
            <div class="bg-transparent p-4 w-full md:w-1/2 flex flex-col items-center sm:items-start justify-center text-start mt-14">
                <span class="bg-gradient-to-r from-[#FEEEEA] to-[#FFFFFF] text-[#F6522C] px-6 py-2 rounded-md mt-7 mb-3 font-bold">
                    Step-2
                </span>
                <h2 class="text-[42px] font-bold text-black-900 my-2">
                    Customize<br />Your Design
                </h2>
                <div class="bg-[#F6522C] px-8 py-[2px] rounded-lg my-8 font-bold h-0"></div>
                <p class="text-[20px] leading-tight my-2">Choose from templates, fonts, colors, and layouts to match your brand</p>
                <ul class="list-decimal space-y-4 my-4">
                    <li class="flex items-center">
                        <span class="w-6 h-6 flex items-center justify-center rounded-full bg-[#FEEDEA] text-[#F6522C] font-bold mr-4">1</span>
                        Select your typography for a personalized touch
                    </li>
                    <li class="flex items-center">
                        <span class="w-6 h-6 flex items-center justify-center rounded-full bg-[#FEEDEA] text-[#F6522C] font-bold mr-4">2</span>
                        Customize the color palette to align with your brand
                    </li>
                    <li class="flex items-center">
                        <span class="w-6 h-6 flex items-center justify-center rounded-full bg-[#FEEDEA] text-[#F6522C] font-bold mr-4">3</span>
                        Enhance content with AI for polished results
                    </li>
                </ul>
                <button class="bg-white hover:bg-gray-200 border text-gray-400 px-7 py-3 rounded-lg transition duration-300 my-8 sm:mb-0 font-bold h-[50px]">
                    Get Started
                </button>
            </div>
        </div>

    </div>

    <!-- Transforming Menu Section -->
    <div class="container max-w-7xl mx-auto mt-[85px] px-4 sm:px-6 lg:px-8 py-10 relative">

        <div class="flex flex-col md:flex-row gap-1 items-center mt-20 px-20 overflow-hidden">
            <!-- First Column -->
            <div class="bg-white p-0 w-full md:w-1/2 flex flex-col items-center sm:items-start justify-center text-start">
              <span class="bg-gradient-to-r from-[#FEEEEA] to-[#FFFFFF] text-[#F6522C] px-6 py-2 rounded-md mt-7 mb-3 font-bold">
                Step-3
              </span>
              <h2 class="text-[42px] font-bold text-black-900 my-2">
                Publish & Share<br />Immediately
              </h2>
              <div class="bg-[#F6522C] px-8 py-[2px] rounded-lg my-8 font-bold h-0"></div>
              <p class="text-[20px] leading-tight my-2">Your menu is online and mobile-friendly</p>
              <button class="bg-white hover:bg-gray-200 border text-gray-400 px-7 py-3 rounded-lg transition duration-300 my-8 sm:mb-0 font-bold h-[50px]">
                Get Started
              </button>
            </div>
          
            <!-- Second Column (Larger Center Column) -->
            <div class="bg-white p-2 w-full md:w-1/2 flex justify-center items-center">
              <img src="{% static 'images/homepage/menus.png' %}" alt="Easy Menus" class="h-full w-auto drop-shadow-lg">
            </div>

            <img src="{% static 'images/homepage/dots.png' %}" alt="Easy Menus" class="opacity-10 w-[133px] absolute bottom-0 right-0 transform translate-x-1/2 -translate-y-1/2">
        </div>
        
    </div>

    <!-- Owners Worldwide Section -->
    <div class="container max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-10 relative bg-[url('{% static 'images/homepage/dotted-world-map-gray-color-vector.png' %}')] bg-cover bg-[60%] bg-center bg-no-repeat bg-opacity-10">
        <div class="flex flex-col md:flex-row gap-1 items-stretch py-20">
            <!-- First Column -->
            <div class="bg-transparent p-2 w-full md:w-1/6 flex flex-col items-center sm:items-start justify-center text-start relative">
                <img src="{% static 'images/homepage/chipotle.png' %}" alt="chipotle" class="w-auto absolute right-0 top-0">
                <img src="{% static 'images/homepage/kfc.png' %}" alt="kfc" class="w-auto absolute left-[10%] top-[40%]">
                <img src="{% static 'images/homepage/kalzbprs.png' %}" alt="kalzbprs" class="w-auto absolute left-[100px] bottom-0">
            </div>

            <!-- Second Column (Larger Center Column) -->
            <div class="bg-transparent p-2 w-full md:w-2/3 flex flex-col justify-center items-center">
                <div class="text-center mx-3">
                    <h2 class="text-5xl font-bold text-black-900 my-4 leading-tight">
                        Trusted by 10,000+ Restaurants<br />Owners Worldwide.
                    </h2>
                </div>

                <div class="text-center px-20">
                    <p class="text-lg leading-relaxed my-5">
                        Join over 10,000+ Restaurants relying on our platform for smarter, faster menu management and improved customer engagement.
                    </p>
                </div>

                <div class="text-center mx-3">
                    <button class="bg-[#3366CC] text-white px-8 py-3 rounded-lg transition duration-300 mb-4 sm:mb-0 font-bold h-[70px]">
                        START MY FREE TRIAL TODAY
                    </button>
                </div>
            </div>

            <!-- Third Column -->
            <div class="bg-transparent p-2 w-full md:w-1/6 flex flex-col items-center sm:items-start justify-center text-end relative">
                <img src="{% static 'images/homepage/dq.png' %}" alt="dq" class="w-auto absolute left-0 top-0">
                <img src="{% static 'images/homepage/burger-king.png' %}" alt="burger king" class="w-auto absolute left-[-40%] top-[40%]">
                <img src="{% static 'images/homepage/panda-express.png' %}" alt="panda express" class="w-auto absolute left-[50%] top-[45%]">
                <img src="{% static 'images/homepage/girl-king.png' %}" alt="girl king" class="w-auto absolute left-[20%] bottom-0">
            </div>
        </div>
    </div>

    <!-- Flexible Plan Section -->
    <div class="container max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-10 relative rounded-[80px] bg-gradient-to-b from-[#E6EEFD] to-[#FDFDFD]">
        <div class="text-center mx-3">
            <button class="bg-gray-100 text-gray-400 px-6 py-2 rounded-full hover:bg-gray-200 transition duration-300 mt-7 mb-3 font-bold">
              Upgrade Anytime
            </button>
        </div>

        <div class="text-center mx-3">
            <h2 class="text-5xl font-bold text-black-900 my-4 leading-tight">
              Simple, Flexible Plans for<br />Every Retaurant
            </h2>

            <div class="inline-block bg-gray-100 text-gray-400 p-2 rounded-full mt-7 mb-3 font-bold relative">
                <button class="bg-[#F6522C] text-white px-8 py-2 rounded-full transition duration-300 m-1 font-bold h-[50px]">
                    MONTHLY
                </button>
                <button class="bg-white text-gray-400 px-8 py-2 rounded-full hover:bg-gray-200 transition duration-300 m-1 font-bold h-[50px] relative">
                    ANNUALY
                    <span class="block bg-[#3366CC] text-white absolute top-[-20px] right-[20%] px-2 py-1 rounded-lg">16% OFF</span>
                </button>
            </div>

            <div class="flex flex-wrap gap-4 justify-between my-10">
                <!-- First Div -->
                <div class="p-4 flex-1 md:w-1/4 sm:w-1/2 text-start items-end text-3xl font-bold text-gray-800 content-end">
                  <p>Features</p>
                </div>
              
                <!-- Second Div -->
                <div class="relative bg-gray-100 p-6 rounded-[36px] flex flex-col md:w-1/4 sm:w-1/2 text-start items-end pt-10 border items-stretch">
                    <div class="flex-1">
                        <label class="text-3xl font-bold text-gray-800 leading-loose">Basic</label>
                        <p class="text-lg font-bold text-gray-600">For businesses just getting started</p>
                    </div>
                    <div class="flex-1">
                        <div class="my-4"><label class="text-5xl font-bold my-10 color-[#211F20]">$12</label><label> / month</label></div>
                        <button class="bg-white w-full hover:bg-gray-200 border text-gray-400 px-7 py-3 rounded-lg transition duration-300 my-8 sm:mb-0 font-bold h-[50px]">
                            Get Started
                        </button>
                    </div>
                </div>
              
                <!-- Third Div -->
                <div class="relative bg-gray-100 p-6 rounded-[36px] flex flex-col md:w-1/4 sm:w-1/2 text-start pt-10 border bg-gradient-to-tr from-[#FEEEEA] via-[#FAFAFA] to-[#FFFFFF] items-stretch">
                    <div class="flex-1">
                        <label class="text-3xl font-bold text-gray-800 leading-loose">Pro</label>
                        <p class="text-lg font-bold text-gray-600">For growing establishments</p>
                        <p class="text-[12px]">+ Custom domain registration free</p>
                    </div>
                    <div class="flex-1">
                        <div class="my-4"><label class="text-5xl font-bold my-10 color-[#211F20]">$35</label><label> / month</label></div>
                        <button class="bg-[#F6522C] w-full border text-white px-7 py-3 rounded-lg transition duration-300 my-8 sm:mb-0 font-bold h-[50px]">
                            Get Started
                        </button>
                    </div>
                    <span class="bg-white absolute top-0 right-[20px] px-6 py-2 rounded-full mt-4 mb-3 font-bold border border-[#4A77D2] text-[#4A77D2] flex flex-row items-center">
                        <img src="{% static 'images/homepage/diamond.png' %}" class="me-2 w-[18px] h-[18px]" /><span class="grow"> Best Plan</span>
                    </span>
                </div>
              
                <!-- Fourth Div -->
                <div class="relative bg-gray-100 p-6 rounded-[36px] flex flex-col md:w-1/4 sm:w-1/2 text-start pt-10 border items-between">
                    <div class="flex-1">
                        <label class="text-3xl font-bold text-gray-800 leading-loose">Enterprise</label>
                        <p class="text-lg font-bold text-gray-600">For thriving culinary brands</p>
                    </div>
                    <div class="flex-1">
                        <div class="my-4"><label class="text-5xl font-bold my-10 color-[#211F20]">$350</label><label> / month</label></div>
                        <button class="bg-white w-full hover:bg-gray-200 border text-gray-400 px-7 py-3 rounded-lg transition duration-300 my-8 sm:mb-0 font-bold h-[50px]">
                            Get Started
                        </button>
                    </div>
                </div>
            </div>

            <div class="flex flex-wrap gap-4 justify-between my-0 bg-white rounded-lg">
                <div class="p-4 flex-1 md:w-1/4 sm:w-1/2 text-start items-end text-xl text-gray-800 content-center items-center">
                  <p class="leading-tight">Menu Scans</p>
                </div>
                <div class="p-4 flex-1 md:w-1/4 sm:w-1/2 text-start items-end text-xl text-gray-800 content-center items-center">
                  <p class="text-center">5 times a month</p>
                </div>
                <div class="p-4 flex-1 md:w-1/4 sm:w-1/2 text-start items-end text-xl text-gray-800 content-center items-center">
                  <p class="text-center">50 times a month</p>
                </div>
                <div class="p-4 flex-1 md:w-1/4 sm:w-1/2 text-start items-end text-xl text-gray-800 content-center items-center">
                  <p class="text-center">Unlimited menu scans</p>
                </div>
            </div>

            <div class="flex flex-wrap gap-4 justify-between my-0 bg-transparent rounded-lg">
                <div class="p-4 flex-1 md:w-1/4 sm:w-1/2 text-start items-end text-xl text-gray-800 content-center items-center">
                  <p class="leading-tight">Edits</p>
                </div>
                <div class="p-4 flex-1 md:w-1/4 sm:w-1/2 text-start items-end text-xl text-gray-800 content-center items-center">
                  <p class="text-center">Unlimited edits</p>
                </div>
                <div class="p-4 flex-1 md:w-1/4 sm:w-1/2 text-start items-end text-xl text-gray-800 content-center items-center">
                  <p class="text-center">Unlimited edits</p>
                </div>
                <div class="p-4 flex-1 md:w-1/4 sm:w-1/2 text-start items-end text-xl text-gray-800 content-center items-center">
                  <p class="text-center">Unlimited edits</p>
                </div>
            </div>

            <div class="flex flex-wrap gap-4 justify-between my-0 bg-white rounded-lg">
                <div class="p-4 flex-1 md:w-1/4 sm:w-1/2 text-start items-end text-xl text-gray-800 content-center items-center">
                  <p class="leading-tight">Custom Domain</p>
                </div>
                <div class="p-4 flex-1 md:w-1/4 sm:w-1/2 text-start items-end text-xl text-gray-800 content-center items-center">
                  <p class="text-center">Only Subdomain</p>
                </div>
                <div class="p-4 flex-1 md:w-1/4 sm:w-1/2 text-start items-end text-xl text-gray-800 content-center items-center">
                    <p class="text-center">
                      <img src="{% static 'images/homepage/check.png' %}" alt="check" class="w-auto mx-auto">
                    </p>
                </div>
                <div class="p-4 flex-1 md:w-1/4 sm:w-1/2 text-start items-end text-xl text-gray-800 content-center items-center">
                    <p class="text-center">
                      <img src="{% static 'images/homepage/check.png' %}" alt="check" class="w-auto mx-auto">
                    </p>
                </div>
            </div>

            <div class="flex flex-wrap gap-4 justify-between my-0 bg-transparent rounded-lg">
                <div class="p-4 flex-1 md:w-1/4 sm:w-1/2 text-start items-end text-xl text-gray-800 content-center items-center">
                  <p class="leading-tight">Custom colors and typograpy</p>
                </div>
                <div class="p-4 flex-1 md:w-1/4 sm:w-1/2 text-start items-end text-xl text-gray-800 content-center items-center">
                    <p class="text-center">
                      <img src="{% static 'images/homepage/check.png' %}" alt="check" class="w-auto mx-auto opacity-20">
                    </p>
                </div>
                <div class="p-4 flex-1 md:w-1/4 sm:w-1/2 text-start items-end text-xl text-gray-800 content-center items-center">
                    <p class="text-center">
                      <img src="{% static 'images/homepage/check.png' %}" alt="check" class="w-auto mx-auto">
                    </p>
                </div>
                <div class="p-4 flex-1 md:w-1/4 sm:w-1/2 text-start items-end text-xl text-gray-800 content-center items-center">
                    <p class="text-center">
                      <img src="{% static 'images/homepage/check.png' %}" alt="check" class="w-auto mx-auto">
                    </p>
                </div>
            </div>

            <div class="flex flex-wrap gap-4 justify-between my-0 bg-white rounded-lg">
                <div class="p-4 flex-1 md:w-1/4 sm:w-1/2 text-start items-end text-xl text-gray-800 content-center items-center">
                  <p class="leading-tight">Analytics</p>
                </div>
                <div class="p-4 flex-1 md:w-1/4 sm:w-1/2 text-start items-end text-xl text-gray-800 content-center items-center">
                    <p class="text-center">
                      <img src="{% static 'images/homepage/check.png' %}" alt="check" class="w-auto mx-auto opacity-20">
                    </p>
                </div>
                <div class="p-4 flex-1 md:w-1/4 sm:w-1/2 text-start items-end text-xl text-gray-800 content-center items-center">
                    <p class="text-center">
                      <img src="{% static 'images/homepage/check.png' %}" alt="check" class="w-auto mx-auto">
                    </p>
                </div>
                <div class="p-4 flex-1 md:w-1/4 sm:w-1/2 text-start items-end text-xl text-gray-800 content-center items-center">
                    <p class="text-center">
                      <img src="{% static 'images/homepage/check.png' %}" alt="check" class="w-auto mx-auto">
                    </p>
                </div>
            </div>

            <div class="flex flex-wrap gap-4 justify-between my-0 bg-transparent rounded-lg">
                <div class="p-4 flex-1 md:w-1/4 sm:w-1/2 text-start items-end text-xl text-gray-800 content-center items-center">
                  <p class="leading-tight">Google business registration</p>
                </div>
                <div class="p-4 flex-1 md:w-1/4 sm:w-1/2 text-start items-end text-xl text-gray-800 content-center items-center">
                    <p class="text-center">
                      <img src="{% static 'images/homepage/check.png' %}" alt="check" class="w-auto mx-auto opacity-20">
                    </p>
                </div>
                <div class="p-4 flex-1 md:w-1/4 sm:w-1/2 text-start items-end text-xl text-gray-800 content-center items-center">
                    <p class="text-center">
                      <img src="{% static 'images/homepage/check.png' %}" alt="check" class="w-auto mx-auto">
                    </p>
                </div>
                <div class="p-4 flex-1 md:w-1/4 sm:w-1/2 text-start items-end text-xl text-gray-800 content-center items-center">
                    <p class="text-center">
                      <img src="{% static 'images/homepage/check.png' %}" alt="check" class="w-auto mx-auto">
                    </p>
                </div>
            </div>

            <div class="flex flex-wrap gap-4 justify-between my-0 bg-white rounded-lg">
                <div class="p-4 flex-1 md:w-1/4 sm:w-1/2 text-start items-end text-xl text-gray-800 content-center items-center">
                  <p class="leading-tight">Custom tempaltes</p>
                </div>
                <div class="p-4 flex-1 md:w-1/4 sm:w-1/2 text-start items-end text-xl text-gray-800 content-center items-center">
                    <p class="text-center">
                      <img src="{% static 'images/homepage/check.png' %}" alt="check" class="w-auto mx-auto opacity-20">
                    </p>
                </div>
                <div class="p-4 flex-1 md:w-1/4 sm:w-1/2 text-start items-end text-xl text-gray-800 content-center items-center">
                    <p class="text-center">
                      <img src="{% static 'images/homepage/check.png' %}" alt="check" class="w-auto mx-auto">
                    </p>
                </div>
                <div class="p-4 flex-1 md:w-1/4 sm:w-1/2 text-start items-end text-xl text-gray-800 content-center items-center">
                    <p class="text-center">
                      <img src="{% static 'images/homepage/check.png' %}" alt="check" class="w-auto mx-auto">
                    </p>
                </div>
            </div>

            <div class="flex flex-wrap gap-4 justify-between my-0 bg-transparent rounded-lg">
                <div class="p-4 flex-1 md:w-1/4 sm:w-1/2 text-start items-end text-xl text-gray-800 content-center items-center">
                  <p class="leading-tight">Faster response with assistance</p>
                </div>
                <div class="p-4 flex-1 md:w-1/4 sm:w-1/2 text-start items-end text-xl text-gray-800 content-center items-center">
                    <p class="text-center">
                      <img src="{% static 'images/homepage/check.png' %}" alt="check" class="w-auto mx-auto opacity-20">
                    </p>
                </div>
                <div class="p-4 flex-1 md:w-1/4 sm:w-1/2 text-start items-end text-xl text-gray-800 content-center items-center">
                    <p class="text-center">
                      <img src="{% static 'images/homepage/check.png' %}" alt="check" class="w-auto mx-auto opacity-20">
                    </p>
                </div>
                <div class="p-4 flex-1 md:w-1/4 sm:w-1/2 text-start items-end text-xl text-gray-800 content-center items-center">
                    <p class="text-center">
                      <img src="{% static 'images/homepage/check.png' %}" alt="check" class="w-auto mx-auto">
                    </p>
                </div>
            </div>

            <div class="flex flex-wrap gap-4 justify-between my-0 bg-white rounded-lg">
                <div class="p-4 flex-1 md:w-1/4 sm:w-1/2 text-start items-end text-xl text-gray-800 content-center items-center">
                  <p>Account manager</p>
                </div>
                <div class="p-4 flex-1 md:w-1/4 sm:w-1/2 text-start items-end text-xl text-gray-800 content-center items-center">
                    <p class="text-center">
                      <img src="{% static 'images/homepage/check.png' %}" alt="check" class="w-auto mx-auto opacity-20">
                    </p>
                </div>
                <div class="p-4 flex-1 md:w-1/4 sm:w-1/2 text-start items-end text-xl text-gray-800 content-center items-center">
                    <p class="text-center">
                      <img src="{% static 'images/homepage/check.png' %}" alt="check" class="w-auto mx-auto opacity-20">
                    </p>
                </div>
                <div class="p-4 flex-1 md:w-1/4 sm:w-1/2 text-start items-end text-xl text-gray-800 content-center items-center">
                  <p class="text-center">
                    <img src="{% static 'images/homepage/check.png' %}" alt="check" class="w-auto mx-auto">
                  </p>
                </div>
            </div>            

        </div>
      
    </div>

        
    <!-- Restaurant Achieve Section -->
    <div class="container max-w-7xl mx-auto mt-[85px] px-4 sm:px-6 lg:px-8">
        <div class="flex flex-col md:flex-row gap-4 items-center">
            <!-- First Column -->
            <div class="bg-white p-4 w-full md:w-1/2 flex flex-col items-center sm:items-start justify-center text-start">
                <button class="bg-gray-100 text-gray-400 px-6 py-2 rounded-full hover:bg-gray-200 transition duration-300 mt-7 mb-3 font-bold">
                Amplify Results
                </button>
                <h2 class="text-[40px] font-bold text-black-900 my-2 leading-tight">
                Running a Restaurant is<br />Tough, Managing Your<br />Menu Shouldn't be
                </h2>
                <p class="text-[20px] leading-tight my-2">We understand the struggles of restaurant owners-outdated menus, time-consuming updates, missed oportunity to connect with custmers. Easy menu fixed all of that</p>
                <ul class="list-decimal space-y-4 my-4">
                    <li class="flex items-center">
                        <img src="{% static 'images/homepage/check.png' %}" alt="check" class="w-auto mx-2">
                        Quick menu updates with AI assistance.
                    </li>
                    <li class="flex items-center">
                        <img src="{% static 'images/homepage/check.png' %}" alt="check" class="w-auto mx-2">
                        Professional mobile-friendly menu made easy.
                    </li>
                    <li class="flex items-center">
                        <img src="{% static 'images/homepage/check.png' %}" alt="check" class="w-auto mx-2">
                        Boost visibility with SEO-optimized designs.
                    </li>
                </ul>
                <button class="bg-[#F6522C] text-white px-8 py-3 rounded-lg transition duration-300 w-[100%] sm:w-[60%] max-w-[300px] my-3 sm:mb-0 font-bold h-[70px]">
                    MAKE THE SWITCH TODAY.
                </button>
            </div>
            
            <!-- Second Column (Larger Center Column) -->
            <div class="bg-white p-4 w-full md:w-1/2 flex justify-center items-center">
                <img src="{% static 'images/homepage/digitalizes.png' %}" alt="Digitalizes" class="h-full w-auto drop-shadow-lg">
            </div>
        </div>
    </div>

    <!-- QA Tab Section -->
    <div class="container max-w-7xl mx-auto mt-[85px] px-4 sm:px-6 lg:px-8 relative overflow-hidden">
        <div class="text-center mx-3">
            <button class="bg-gray-100 text-gray-400 px-6 py-2 rounded-full hover:bg-gray-200 transition duration-300 mt-7 mb-3 font-bold">
              Get Better Clarity
            </button>
        </div>

        <div class="text-center mx-3">
            <h2 class="text-5xl font-bold text-black-900 my-4 leading-tight">
              Got Questions? We've Got Answers.
            </h2>
        </div>

        <!-- Tab Section Here -->

        <div class="text-center mx-3">
            <button class="bg-[#3366CC] text-white px-8 py-3 rounded-lg transition duration-300 mb-4 sm:mb-0 font-bold h-[70px]">
                SIGNUP TO GET STARTED
            </button>
        </div>

        <br />
    </div>

    <!-- Appetizers Section -->
    <div class="container max-w-7xl mx-auto mt-[85px] px-4 sm:px-6 lg:px-8 relative overflow-hidden">
        <div class="flex flex-col md:flex-row gap-10 items-center my-10">
            
            <!-- Second Column (Larger Center Column) -->
            <div class="bg-[#E1EEFF] p-16 w-full rounded-[50px] md:w-1/2 flex justify-center items-center">
                <img src="{% static 'images/homepage/appetizers.png' %}" alt="Digitalizes" class="h-full w-auto drop-shadow-lg">
            </div>

            <!-- First Column -->
            <div class="bg-[#FBF7E5] p-16 w-full rounded-[50px] md:w-1/2 flex flex-col items-center sm:items-start justify-center text-start">
                <button class="bg-[#FDFCF5] text-gray-400 px-6 py-2 rounded-full hover:bg-gray-200 transition duration-300 mt-7 mb-3 font-bold">
                Get Started
                </button>
                <h2 class="text-[40px] font-bold text-black-900 my-2 leading-tight">
                Take the First<br />Step Toward Digital<br />Transformation
                </h2>
                <p class="text-[20px] leading-tight my-2">Your menu deserves better. Let Easy Menu help you stand out, attract more customers and grow your restaurant</p>
                <button class="bg-[#F6522C] text-white px-8 py-3 rounded-lg transition duration-300 w-[100%] sm:w-[60%] max-w-[300px] my-3 sm:mb-0 font-bold h-[70px]">
                    MAKE THE SWITCH TODAY.
                </button>
            </div>
        </div>

    </div>
    
    <!-- Footer Section -->
    <div class="container max-w-7xl mx-auto mt-[85px] px-4 sm:px-6 lg:px-8 relative overflow-hidden">
        <div class="flex flex-wrap gap-0 justify-between my-10">
            <!-- First Div -->
            <div class="relative p-6 flex flex-col md:w-1/4 sm:w-1/2 text-start items-stretch">
                <div class="flex-1">
                    <img src="{% static 'images/homepage/logo.svg' %}" alt="Easy Menus" class="w-auto drop-shadow-lg" />
                </div>
                <div class="flex-1">
                    <label class="text-lg font-bold text-gray-700">All-in-One Digital<br />Menu Creator</label>
                    <button class="bg-white text-gray-700 border border-[#F6522C] px-4 py-3 rounded-lg transition duration-300 my-4 sm:mb-0 h-[50px]">
                        SIGNUP TO GET STARTED
                    </button>
                </div>
            </div>
            
            <!-- Second Div -->
            <div class="relative p-6 flex flex-col md:w-1/4 sm:w-1/2 text-start items-start">
                <div class="flex-1">
                    <label class="text-xl font-bold text-gray-800 leading-loose">Quick Links</label>
                    <ul>
                        <li><a href="#">Menu Builder</a></li>
                        <li><a href="#">Latest Template</a></li>
                        <li><a href="#">About</a></li>
                        <li><a href="#">Live demo</a></li>
                        <li><a href="#">Pricing</a></li>
                        <li><a href="#">Contact us</a></li>
                    </ul>
                </div>
            </div>
            
            <!-- Third Div -->
            <div class="relative p-6 flex flex-col md:w-1/4 sm:w-1/2 text-start items-start">
                <div class="flex-1">
                    <label class="text-xl font-bold text-gray-800 leading-loose">How To</label>
                    <ul>
                        <li><a href="#">Create a restaurant website</a></li>
                        <li><a href="#">Create great content</a></li>
                        <li><a href="#">Design a restaurant website</a></li>
                        <li><a href="#">SEO optimize your business</a></li>
                    </ul>
                </div>
            </div>
            
            <!-- Fourth Div -->
            <div class="relative p-6 flex flex-col md:w-1/4 sm:w-1/2 text-start items-start">
                <div class="flex-1">
                    <label class="text-xl font-bold text-gray-800 leading-loose">Contact Us</label>
                    <ul>
                        <li><a href="#">contact@easymenus.com</a></li>
                    </ul>
                </div>
                <div class="flex-1">
                    <label class="block text-md text-gray-800 leading-tight">4.6/5</label>                    
                    <label class="block text-md text-gray-800 leading-tight">Overall Ratings on</label>
                    <img src="{% static 'images/homepage/google-rate.png' %}" />
                </div>
            </div>
        </div>
        
    </div>

    <div class="container max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 relative overflow-hidden">
        <hr />
        <div class="flex flex-wrap gap-0 justify-between">
            <!-- First Div -->
            <div class="relative p-6 flex flex-col md:w-1/3 sm:w-1/2 text-start items-stretch">
                <div class="flex-1">
                    <label class="text-md font-bold text-gray-700">&copy; 2024 Easy Menus | All Right Reserved</label>
                </div>
            </div>
            
            <!-- Second Div -->
            <div class="relative p-6 flex flex-col md:w-1/3 sm:w-1/2 text-start items-center">
                <div class="flex-1">
                    <ul>
                        <li class="inline-block mx-1"><a href="#">Privacy</a></li>
                        <li class="inline-block mx-1"><a href="#">Cookie References</a></li>
                        <li class="inline-block mx-1"><a href="#">Disclaimer</a></li>
                    </ul>
                </div>
            </div>
            
            <!-- Third Div -->
            <div class="relative p-6 flex flex-col md:w-1/3 sm:w-1/2 text-start items-end">
                <div class="flex-1">
                    <ul>
                        <li class="inline-block mx-1"><a href="#"><img src="{% static 'images/homepage/facebook.png' %}" /></a></li>
                        <li class="inline-block mx-1"><a href="#"><img src="{% static 'images/homepage/instagram.png' %}" /></a></li>
                        <li class="inline-block mx-1"><a href="#"><img src="{% static 'images/homepage/linkedin.png' %}" /></a></li>
                        <li class="inline-block mx-1"><a href="#"><img src="{% static 'images/homepage/twitter.png' %}" /></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
   
</div>
{% endblock %}