<!-- templates/static/home.html -->
{% extends "myapp/frontbase_general.html" %}

{% load static %} <!-- Add this line -->

{% block content %}
<div class="relative">

    <nav class="bg-transparent py-4">
        <div class="container max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
          <div class="flex items-center justify-between h-16">
            <!-- Logo -->
            <div class="flex-shrink-0">
                <a href="{% url 'home' %}">
                    <img src="{% static 'images/homepage/logo.svg' %}" alt="Easy Menus" class="h-full w-auto drop-shadow-lg">
                </a>
            </div>
      
            <!-- Menu for larger screens -->
            <div class="hidden md:flex space-x-6">
              <a href="{% url 'home' %}" class="text-gray-600 hover:text-gray-900 px-3 py-2 rounded-md text-lg font-medium drop-shadow-lg">Home</a>
              <a href="{% url 'features' %}" class="text-gray-600 hover:text-gray-900 px-3 py-2 rounded-md text-lg font-medium drop-shadow-lg">Features</a>
              <a href="{% url 'pricing' %}" class="text-gray-600 hover:text-gray-900 px-3 py-2 rounded-md text-lg font-medium drop-shadow-lg">Pricing</a>
              <a href="{% url 'about' %}" class="text-gray-600 hover:text-gray-900 px-3 py-2 rounded-md text-lg font-medium drop-shadow-lg">FAQ</a>
              <div class="flex space-x-4 px-3 py-2 rounded-md text-lg font-medium"> | </div>
              <a href="{% url 'login' %}" class="text-gray-600 hover:text-gray-900 px-3 py-2 rounded-md text-lg font-medium drop-shadow-lg">Log in</a>
              <a href="{% url 'signup' %}" class="rounded-[40px] bg-[#F6522C] text-white px-6 py-2 hover:text-gray-900 px-3 py-2 text-lg font-medium drop-shadow-lg">Sign Up</a>
            </div>
      
            <!-- Hamburger Menu for smaller screens -->
            <div class="md:hidden">
              <button id="menu-btn" class="text-gray-600 hover:text-gray-900 focus:outline-none">
                <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path>
                </svg>
              </button>
            </div>
          </div>
        </div>
      
        <!-- Mobile Menu -->
        <div id="mobile-menu" class="md:hidden hidden">
          <div class="px-2 pt-2 pb-3 space-y-1 sm:px-3">
            <a href="{% url 'home' %}" class="block text-gray-600 hover:text-gray-900 px-3 py-2 rounded-md text-lg font-medium drop-shadow-lg">Home</a>
            <a href="{% url 'features' %}" class="block text-gray-600 hover:text-gray-900 px-3 py-2 rounded-md text-lg font-medium drop-shadow-lg">Features</a>
            <a href="{% url 'pricing' %}" class="block text-gray-600 hover:text-gray-900 px-3 py-2 rounded-md text-lg font-medium drop-shadow-lg">Pricing</a>
            <a href="{% url 'about' %}" class="block text-gray-600 hover:text-gray-900 px-3 py-2 rounded-md text-lg font-medium drop-shadow-lg">FAQ</a>
            <a href="{% url 'login' %}" class="block text-gray-600 hover:text-gray-900 px-3 py-2 rounded-md text-lg font-medium drop-shadow-lg">Log in</a>
            <a href="{% url 'signup' %}" class="block text-gray-600 hover:text-gray-900 px-3 py-2 rounded-md text-lg font-medium drop-shadow-lg">Sign Up</a>
          </div>
        </div>
    </nav>

    <!-- Hero Section -->
    <div class="container max-w-7xl mx-auto mt-[85px] px-4 sm:px-6 lg:px-8">
        <div class="grid grid-cols-1 md:grid-cols-2 gap-6 items-center">
          <!-- Left Div -->
          <div class="text-center md:text-left mx-3">
            <button class="bg-gray-100 text-gray-400 px-6 py-2 rounded-full hover:bg-gray-200 transition duration-300 mt-7 mb-3 font-bold">
              Say Goodbye to Outdated Menus
            </button>
            <h2 class="text-5xl md:text-6xl lg:text-7xl font-bold text-black-900 my-4 leading-relaxed">
                <span class="block leading-none my-3">Digitize Menus</span>
                <span class="block leading-none my-3">in Minutes with</span>
                <span class="block leading-none my-3">Easy Menu</span>
            </h2>
            <p class="text-lg leading-relaxed my-5">Effortlessly create, edit, and share stunning digital menus that<br />boost your visibility, wow your customers, and grow your<br />restaurant-all with the power of AI</p>
            <!-- Flex Container for Buttons -->
            <div class="flex flex-col sm:flex-row sm:space-x-4 mt-6 mb-6">
                <!-- First Button (60% width) -->
                <button class="bg-[#F6522C] text-white px-8 py-3 rounded-lg transition duration-300 w-[55%] sm:w-[55%] mb-4 sm:mb-0 font-bold h-[70px]">
                  TRY EASY MENUS FOR FREE
                </button>
              
                <!-- Second Button (40% width) -->
                <button class="bg-white border text-gray-900 px-6 py-3 rounded-lg hover:bg-gray-200 transition duration-300 w-[45%] sm:w-[45%] font-bold h-[70px]">
                  SEE HOW IT WORKS
                </button>
            </div>
              
          </div>
      
          <!-- Right Div -->
          <div class="text-center h-full">
            <img
              src="{% static 'images/homepage/dinner-menu.png' %}"
              alt="Sample Image"
              class="h-full w-auto mx-auto object-contain drop-shadow-lg drop-shadow-[8px_8px_24px_0px_rgba(0,0,0,0.5)]"
            />
          </div>
        </div>
    </div>
      
   
</div>
{% endblock %}